<% include ../../header %>

<div class="box" style="width: 710px;margin-left: 14px;margin-top: 10px;float: left;">
    <div class="title">About Enables</div>
    <img src="https://imgur.com/OJf5qj3.png" align="right">
    <div style="padding:40px;">
        Hey there <b><%= user.username %>!</b> I can see that you are here because you want to see the list of all the enables on Twist.
        <br><br>
        To view the Enables List, simply just look to your right and they will all be there in order for you!
        Looking for an enable? Use CTRL+F
        <br><br>
        If there is missing some enables let the staff know by contacting us Here!
    </div>
</div>

<div class="box" style="width: 235px;margin-top: 10px;float: right;margin-right: -20px;">
    <div class="title">Enable List</div>
    <div style="padding:7px">
        <hr>
        <b>Normal Enables</b>
        <hr>
        1 = Spotlight <br>
        2 = Hoverboard <br>
        3 = UFO blue <br>
        4 = Twinkle <br>
        5 = Torch <br>
        6 = Jetpack <br>
        7 = Butterflies <br>
        8 = Fireflies <br>
        9 = Hearts <br>
        10 = Flies <br>
        11 = X-Ray <br>
        12 = Ice <br>
        13 = Ghost <br>
        14 = Pink Hover board <br>
        15 = Yellow Hover board<br>
        16 = Microphone <br>
        17 = Pink UFO <br>
        18 = Yellow UFO <br>
        19 = Police Car <br>
        20 = Ambulance <br>
        21 = Blue Car <br>
        22 = Flame Car <br>
        23 = Totem Man <br>
        24 = Totem Rain<br>
        25 = Totem Fire<br>
        26 = Totem Planet <br>
        27 = Viking Helmet <br>
        28 = Swimming<br>
        29 = Deep Water <br>
        30 = Shallow Water <br>
        31 = Cheetos <br>
        32 = Despicable Me <br>
        33 = BB Red <br>
        34 = BB Green <br>
        35 = BB Blue <br>
        36 = BB Yellow <br>
        37 = Shallow Swamp <br>
        38 = Ice Skating Male<br>
        39 = Ice Skating Female<br>
        40 = Red Helmet <br>
        41 = Green Helmet<br>
        42 = Blue Helmet <br>
        43 = Yellow Helmet <br>
        44 = Sims <br>
        45 = Tagged Ice Skating Male<br>
        46 = Tagged Ice Skating Female<br>
        47 = Megamind <br>
        48 = Car Doggy <br>
        49 = Red Helmet Untouchable <br>
        50 = Green Helmet Untouchable <br>
        51 = Blue Helmet Untouchable <br>
        52 = Yellow Helmet Untouchable <br>
        53 = Pot Leaves <br>
        54 = Easter bunny <br>
        55 = Roller Skating Male<br>
        56 = Roller Skating Female<br>
        57 = Tagged Roller Skating Male<br>
        58 = Tagged Roller Skating Female<br>
        59 = Sunny Delight <br>
        60 = Rango <br>
        61 = Blue Stars <br>
        62 = Purple Stars<br>
        63 = Pink Stars<br>
        64 = Candle <br>
        65 = Mobile <br>
        66 = Disneys Wizards of Waverly <br>
        67 = Rio Parrot<br>
        68 = Easter Bunny &amp; Carrot <br>
        69 = Volkswagen <br>
        70 = Kung fu Panda <br>
        71 = Skateboard <br>
        72 = Skateboard <br>
        73 = Chupa Chups <br>
        74 = Pink Lei <br>
        75 = Red Lei <br>
        76 = Purple Lei <br>
        77 = Riding <br>
        78 = Perry <br>
        79 = Alien Mask <br>
        80 = Giant Mouth <br>
        81 = Swamp Creature Mask <br>
        82 = Ink Blot Mask <br>
        83 = Mime Mask <br>
        84 = Mummy Mask <br>
        85 = Pumpkin Mask <br>
        86 = Scarecrow Mask <br>
        87 = Wolf Mask <br>
        88 = Zombie Mask <br>
        89 = Back Knife <br>
        90 = Naruto Scythe <br>
        91 = Fairy Wings<br>
        92 = Ghost Sheet <br>
        93 = Headless <br>
        94 = Truck <br>
        95 = Red Sims <br>
        96 = Blue Sims <br>
        97 = Snowboard<br>
        98 = Combat Arrow / Focus w.e<br>
        99 = Niko <br>
        100 = Dragon <br>
        101 = Reserved for Chinese umbrella <br>
        102 = Staff Badge <font color="#ff8989"><b>(only staff)</b></font> <br>
        103 = Riding<br>
        104 = Pie <br>
        105 = Dubbelfrisss <br>
        106 = Blue Torch <br>
        107 = Plasto Pod Chair <br>
        108 = Ninja disappear<br>
        109 = Bronze Medal<br>
        110 = Silver Medal <br>
        111 = Gold Medal <br>
        112 = Spider-Man <br>
        113 = Raincloud <br>
        114 = Strong Arms <br>
        115 = Ringmaster <br>
        116 = Fly <br>
        117 = Executioner <br>
        118 = Evil clown <br>
        119 = Dark Alien Mask <br>
        120 = Giant Mouth <br>
        121 = Swamp Creature Mask <br>
        122 = Ink Blot Mask <br>
        123 = Mime Mask <br>
        124 = Mummy 2 Mask <br>
        125 = Frost Pumpkin Mask <br>
        126 = Scarecrow Mask <br>
        127 = Evil Wolf Mask <br>
        128 = Zombie Mask <br>
        129 = Back Knife <br>
        130 = Naruto Scythe <br>
        131 = Fairy Wings <br>
        132 = Glowing Ghost Sheet <br>
        133 = Headless <br>
        134 = Snake Body <br>
        135 = Puppet Master <br>
        136 = Moonwalk Shoes <br>
        137 = Gold Spotlight <br>
        138 = Golden Glasses <br>
        139 = Gold Microphone <br>
        140 = Habnam Dance <br>
        141 = Big Red Mardi Gras Mask<br>
        142 = Goat Mask <br>
        143 = Pink Feather Mask<br>
        144 = Green Feather Mask <br>
        145 = Purple Feather Mask<br>
        146 = Blue Feather Mask<br>
        147 = Purple Mardi Gras<br>
        148 = Green Mardi Gras<br>
        149 = Red Mardi Gras<br>
        150 = Blue Mardi Gras<br>
        151 = Dark Goat Mask <br>
        152 = Light Goat Mask <br>
        153 = Big Green Mardi Gras Mask <br>
        154 = Easter Egg <br>
        155 = Crystal Arm <br>
        156 = Lost Tribe Patch <br>
        157 = Pimple <br>
        158 = Piñata <br>
        159 = Barrel<br>
        160 = Pirate Captain <br>
        161 = Pirate Crew <br>
        162 = Pirate Sword<br>
        163 = Head On The Ground <br>
        164 = Pirate Gun <br>
        165 = Spinning Thumbs Up <br>
        166 = Goblin <br>
        167 = Mutant <br>
        168 = Spinning Hearts <br>
        169 = Slimed<br>
        170 = Duck<br>
        171 = Robot Bunny<br>
        172 = Red Viking<br>
        173 = Blue Viking<br>
        174 = Green Hoverboard<br>
        175 = Red Airplane<br>
        176 = Blue Airplane<br>
        177 = Dark Leaves<br>
        178 = Ambassador Badge<br>
        179 = WWE Mask<br>
        180 = Skull Mask<br>
        181 = Dark Skull Mask<br>
        182 = Light Skull Mask<br>
        183 = Tool Hammer<br>
        184 = Spooky Splash<br>
        185 = Spooky Water<br>
        186 = Star Wand<br>
        187 = BOT <br>
        188 = Cyber Duck<br>
        189 = Small Boy<br>
        190 = Small Girl<br>
        191 = White Segway<br>
        192 = Watering Can<br>
        193 = Trampoline Jump<br>
        194 = Treadmill<br>
        <hr>
        <b>Custom Enables</b>
        <hr>
        497 = 666 Gun<br>
        498 = Normal Gun<br>
        499 = Golden Gun<br>
        500 = Spin<br>
        501 = Midget Spin<br>
        502 = Bounce<br>
        503 = Midget Bounce<br>
        504 = Black Segway<br>
        505 = Pink Segway<br>
        506 = Purple Segway<br>
        507 = Smoke Weed<br>
    </div>
</div>

<% include ../../footer %>