<% include ../../header %>

<div class="box" style="width: 470px;float: left;">
    <div class="title">10$ Bronze Casino Bundle</div>
    <div class="boxcontent" style="float: none;">
        <img style="margin: 125px 70px;" src="https://imgur.com/hOvVTeF.png" align="right">
        <img src="https://imgur.com/YY0KlkL.png"> Special Bronze Bundle Donator Badge<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 100,000 Credits<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 50,000 Duckets<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 5x Thrones<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 10x DJ Turn Tables<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 12x Dino Eggs<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 4x Typewriter<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 20x Petal Patches<br><br>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="933TS3FKSJPPW">
            <table>
                <tbody><tr><td style="color: white;font-weight: 600;"><input type="hidden" name="on0" value="Enter Username">Enter Username</td></tr><tr><td><input type="text" name="os0" maxlength="200" class="input_box"></td></tr>
                </tbody></table>
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!" style="float: right;margin: -50px 40px;">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>

<div class="box" style="width: 470px;float: left;margin-left: 20px;">
    <div class="title">20$ Silver Casino Bundle</div>
    <div class="boxcontent" style="float: none;">
        <img style="margin: 125px 70px;" src="https://imgur.com/vzbSn2a.png" align="right">
        <img src="https://imgur.com/YY0KlkL.png"> Special Silver Bundle Donator Badge<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 225,000 Credits<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 112,500 Duckets<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 12x Thrones<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 22x DJ Turn Tables<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 26x Dino Eggs<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 10x Typewriter<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 45x Petal Patches<br><br>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="L7RULRYJYJM7L">
            <table>
                <tbody><tr><td style="color: white;font-weight: 600;"><input type="hidden" name="on0" value="Enter Username">Enter Username</td></tr><tr><td><input type="text" name="os0" maxlength="200" class="input_box"></td></tr>
                </tbody></table>
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!" style="float: right;margin: -50px 40px;">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>

<div class="box" style="width: 470px;float: left;">
    <div class="title">30$ Gold Casino Bundle</div>
    <div class="boxcontent" style="float: none;">
        <img style="margin: 125px 70px;" src="https://imgur.com/7cLvKK4.png" align="right">
        <img src="https://imgur.com/YY0KlkL.png"> Special Gold Bundle Donator Badge<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 450,000 Credits<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 250,000 Duckets<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 20x Thrones<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 36x DJ Turn Tables<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 40x Dino Eggs<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 22x Typewriter<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 80x Petal Patches<br><br>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="YNM295QUC9WGL">
            <table>
                <tbody><tr><td style="color: white;font-weight: 600;"><input type="hidden" name="on0" value="Enter Username">Enter Username</td></tr><tr><td><input type="text" name="os0" maxlength="200" class="input_box"></td></tr>
                </tbody></table>
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!" style="float: right;margin: -50px 40px;">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

    </div>
</div>

<div class="box" style="width: 470px;float: left;margin-left: 20px;">
    <div class="title">40$ Diamond Casino Bundle</div>
    <div class="boxcontent" style="float: none;">
        <img style="margin: 125px 70px;" src="https://imgur.com/GszYyhx.png" align="right">
        <img src="https://imgur.com/YY0KlkL.png"> Special Diamond Bundle Donator Badge<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 950,000 Credits<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 525,000 Duckets<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 30x Thrones<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 50x DJ Turn Tables<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 55x Dino Eggs<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 34x Typewriter<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 120x Petal Patches<br><br>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="G4DLZMU479RXQ">
            <table>
                <tbody><tr><td style="color: white;font-weight: 600;"><input type="hidden" name="on0" value="Enter Username">Enter Username</td></tr><tr><td><input type="text" name="os0" maxlength="200" class="input_box"></td></tr>
                </tbody></table>
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!" style="float: right;margin: -50px 40px;">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>

<div class="box" style="width: 960px;float: left;">
    <div class="title">Terms of service</div>
    <div class="boxcontent" style="float: none;">
        <img style="float: left;padding: 10px;" src="https://imgur.com/Tiqz6W0.png"><br>
        All purchases are final. There are absolutely no refunds. Issuing a chargeback or claiming refunds is a violation of our terms of services and will result in the loss of your rank and you will be permanantly banned from <%= website.name %> Hotel - which means you will not be able to purchase from <%= website.name %> shop again.
    </div>
</div>


<% include ../../footer %>