<% include ../../header %>

<div class="box" style="width: 470px;float: left;">
    <div class="title">6$ Silver VIP</div>
    <div class="boxcontent" style="float: none;">
        <img style="margin: 105px 0px 0px 310px;position: absolute;" src="https://imgur.com/2E6dvYq.png" align="right">
        <img src="https://imgur.com/YY0KlkL.png"> By purchasing Silver VIP you will recieve all of the following below<br><br>

        <img src="https://imgur.com/YY0KlkL.png"> Silver VIP catalogue<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 150k credits &amp; 50k duckets<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 2 Diamonds per 15 minutes<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 3000 Credits per 15 minutes<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 2250 Duckets per 15 minutes<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> +15 extra daily respect &amp; scratches <br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Superpush another user (:spush %username%)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Superpull another user (:spull %username%)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Coloured Chat (:vcolour %colour name%)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Override - only in a room with rights (:voveride)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Mass Dance - only in a room with rights (:vmassdance)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Fast Walk - only in a room with rights (:vfastwalk)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Super Fast Walk - only in a room with rights (:vsuperfastwalk)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Teleport - only in a room with rights (:vteleport)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Mass Enable - only in a room with rights (:vmassenable)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Warp - warp another user to you (:vwarp %username%)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Lower flood time<br><br>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="KVC26J8UY8VCE">
            <table>
                <tbody><tr><td style="color: white;font-weight: 600;"><input type="hidden" name="on0" value="Enter Username">Enter Username</td></tr><tr><td><input type="text" name="os0" maxlength="200" class="input_box"></td></tr>
                </tbody></table>
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG_global.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!" style="float: right;margin: -60px 40px;">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>


    </div>
</div>

<div class="box" style="width: 470px;float: left;margin-left: 20px;">
    <div class="title">12$ Gold VIP</div>
    <div class="boxcontent" style="float: none;">
        <img style="margin: 105px 0px 0px 310px;position: absolute;" src="https://imgur.com/qsY54zr.png" align="right">
        <img src="https://imgur.com/YY0KlkL.png"> By purchasing Gold VIP you will recieve all of the following below<br><br>

        <img src="https://imgur.com/YY0KlkL.png"> Silver VIP &amp; Gold VIP catalogue<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 320k credits &amp; 110k duckets<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 2 Diamonds per 15 minutes<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 4000 Credits per 15 minutes<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> 3000 Duckets per 15 minutes<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> +20 extra daily respect &amp; scratches <br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Superpush another user (:spush %username%)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Superpull another user (:spull %username%)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Coloured Chat (:vcolour %colour name%)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Override - only in a room with rights (:voveride)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Mass Dance - only in a room with rights (:vmassdance)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Fast Walk - only in a room with rights (:vfastwalk)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Super Fast Walk - only in a room with rights (:vsuperfastwalk)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Teleport - only in a room with rights (:vteleport)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Mass Enable - only in a room with rights (:vmassenable)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Warp - warp another user to you (:vwarp %username%)<br><br>
        <img src="https://imgur.com/YY0KlkL.png"> Lower flood time<br><br>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="JYSWMHHJHURM6">
            <table>
                <tbody><tr><td style="color: white;font-weight: 600;"><input type="hidden" name="on0" value="Enter Username">Enter Username</td></tr><tr><td><input type="text" name="os0" maxlength="200" class="input_box"></td></tr>
                </tbody></table>
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG_global.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!" style="float: right;margin: -60px 40px;">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>

<div class="box" style="width: 960px;float: left;">
    <div class="title">Terms of service</div>
    <div class="boxcontent" style="float: none;">
        <img style="float: left;padding: 10px;" src="https://imgur.com/Tiqz6W0.png"><br>
        All purchases are final. There are absolutely no refunds. Issuing a chargeback or claiming refunds is a violation of our terms of services and will result in the loss of your rank and you will be permanantly banned from <%= website.name %> Hotel - which means you will not be able to purchase from <%= website.name %> shop again.
    </div>
</div>

<% include ../../footer %>