<% include ../../header %>

<div class="box" style="width: 960px;margin-left: 14px;margin-top: 10px;float: left;">
    <div class="title">About Values</div>
    <img src="https://imgur.com/Jlv4HtR.png" align="right">
    <div style="padding:40px;">
        Hey there <b>Tox!</b> I can see that you are here because you want to learn about the Values page on <%= website.name %>.
        <br><br>
        <%= website.name %> Valuers will be posting updates here about the rares on the hotel. It will be frequently updated, as to keep users happy and the values updated as much as we possibly can with the economoy of the hotel. If any questions about the values, please find a staff member to ask or refer to this page.
        <br><br>
    </div>
</div>

<% include ../../footer %>