<% include ../../header %>

<div class="box" style="top: 15px;position: relative;width: 960px;float: left;"><div class="title">Parents</div>
    <div class="boxcontent">
        <img style="float:left; padding-right: 10px;" src="https://imgur.com/KBasD9a.png">
        <br>
        <br>
        <br>
        <b>Welcome Parents</b>
        <br>
        <br>
        <%= website.name %> Hotel is an ever-changing world where the possibilities to create, socialize, and play are literally endless (not literally, that'd be tough).
        <br>
        <br>
        As a parent, you're probably busy doing things of importance while reading this. We'll give you the need-to-knows on this page, so let's get started.
        <br>
        <br>
    </div>
</div>

<div class="box" style="top: 15px;position: relative;width: 470px;float: left;"><div class="title">Play Games</div>
    <div style="height: 140px;" class="boxcontent">
        <div class="tyntk">
            <img src="https://i.imgur.com/VWZ9bcY.png">
            <span>
					Playing is the best part of any day. So we've made alot of games for your kid (or you) to play.
				</span>
        </div>
    </div>
</div>

<div class="box" style="top: 15px;position: relative;width: 470px;float: left;margin-left: 20px;"><div class="title">Adopt Pets</div>
    <div style="height: 140px;" class="boxcontent">
        <div class="tyntk">
            <img src="https://imgur.com/By1bVu4.png">
            <span>
					It's nice to feel needed. Players can adopt different pets that are perfect for them, and learn the responsibilities of pet care.
				</span>
        </div>
    </div>
</div>

<div class="box" style="top: 15px;position: relative;width: 470px;float: left;"><div class="title">Customize their Avatar</div>
    <div style="height: 140px;" class="boxcontent">
        <div class="tyntk">
            <img src="https://imgur.com/nGzdPHe.png">
            <span>
					Users can show off their unique style with new clothing items every month. Cat ears, cape, hat? Go for it!
				</span>
        </div>
    </div>
</div>

<div class="box" style="top: 15px;position: relative;width: 470px;float: left;margin-left: 20px;"><div class="title">Chat with Friends</div>
    <div style="height: 140px;" class="boxcontent">
        <div class="tyntk">
            <img src="https://imgur.com/GIFIyCG.png">
            <span>
					Intuitive safe chat helps kids talk to friends blocking inappropriate language.
				</span>
        </div>
    </div>
</div>

<div class="box" style="top: 15px;position: relative;width: 960px;float: left;"><div class="title">Learning &amp; Development</div>
    <div class="boxcontent">
        <img style="float:left; padding-right: 10px;" src="https://imgur.com/F0pMpZX.png">
        <b>- Games on <%= website.name %></b>
        <br>
        <br>
        Our games give your child the chance to practice their hand-eye coordination, fine motor skills, and the ancient art of typing.
        <br>
        <br>
        <b>- Creativity</b>
        <br>
        <br>
        Kids can get creative in many different ways - from designing outfits to decorating their own rooms - without getting glue on your sofa.
        <br>
        <br>
        <b>- Teamwork</b>
        <br>
        <br>
        We like it when kids work together, that's why we create tricky mazes, hide furniture, and give them mysteries to solve together.
        <br>
        <br>
        <b>- Money Management</b>
        <br>
        <br>
        Money doesn't grow on trees. By playing games to earn coins, kids can learn to save up for what they want the most.
        <br>
        <br>
    </div>
</div>

<div class="box" style="top: 15px;position: relative;width: 960px;float: left;"><div class="title">What We Believe In</div>
    <div class="boxcontent">
        <img style="float:left; padding-right: 10px;padding-top: 40px;padding-bottom: 40px;" src="https://imgur.com/EXLSlPu.png">
        <b>- Friendship &amp; Community</b>
        <br>
        <br>
        We understand that a sense of belonging is important to kids. So we make sure players from around the world can chat, make new friends, and create their own social groups.
        <br>
        <br>
        <b>- Creativity &amp; Imagination</b>
        <br>
        <br>
        Players amaze us with creative fashion, rooms and unique role-play. We listen to their ideas and react, giving them the tools to help spark their imaginations and express their creativity.
        <br>
        <br>
        <b>- Exploration &amp; Discovery</b>
        <br>
        <br>
        We know that kids love to discover and explore new things. We want to give our players the opportunity to find hidden secrets around the hotel, and take on amazing new adventures.
        <br>
        <br>
    </div>
</div>



<% include ../../footer %>