<% include ../../header %>

<div class="box" style="top: 15px;position: relative;width: 960px;float: left;"><div class="title"><%= website.name %> Rules</div>
    <div class="boxcontent" style="float: none;">
        <img style="float:left; padding-right: 10px;" src="https://imgur.com/SGmINoI.png">

        <b>About the rules!</b>
        <br>
        <br>
        Here at <%= website.name %>, these rules are expected to be notified and obeyed.
    </div>
</div>

<div class="box" style="top: 15px;position: relative;width: 960px;float: left;"><div class="title">Scamming</div>
    <div class="boxcontent" style="float:none;">
        <img style="float:left; padding-right: 10px;padding-left: 10px;" src="https://imgur.com/lYaKXgc.png">
        <img src="https://imgur.com/jrCagQ3.png">Scamming users during bets, in any form; - Permanent IP Ban<br>
        &nbsp;&nbsp;&nbsp;&nbsp;For example, trading fake furniture or going offline<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Pretending to be a representative of <%= website.name %> Hotel - Permanent User Ban<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Advertising another hotel - Permanent IP Ban<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Tricking user's into revealing their password/IP address - Permanent IP Ban<br><br>

    </div>
</div>

<div class="box" style="top: 15px;position: relative;width: 960px;float: left;"><div class="title">Spamming</div>
    <div class="boxcontent" style="float:none;">
        <img style="float:left; padding: 20px 0px; padding-right: 28px;padding-left: 50px;" src="https://imgur.com/1LEOfoK.png">
        <img src="https://imgur.com/jrCagQ3.png">Users spamming in another user's room -  Caution / Mute / Kick / 2 Week Ban <br>
        &nbsp;&nbsp;&nbsp;&nbsp; ex: Hateful Comments, "Spaces", or random letters to annoy users<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Spamming in staff events -  Mute / Kick / 12 Hour Ban<br>
        &nbsp;&nbsp;&nbsp;&nbsp;ex: spamming during games with the "Ready" remark or during typing games<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Fansite Advertisement Abuse -  Caution / Mute / 12 Hour Ban <br><br>

        <img src="https://imgur.com/jrCagQ3.png">Call for help abuse (spamming it after the report has been closed) -  Caution / 1 Week Ban<br><br>
    </div>
</div>

<div class="box" style="top: 15px;position: relative;width: 960px;float: left;"><div class="title">Abuse</div>
    <div class="boxcontent" style="float:none;">
        <img style="float:left; padding: 70px 0px; padding-right: 42px;padding-left: 50px;" src="https://imgur.com/m7vWqZv.png">

        <img src="https://imgur.com/jrCagQ3.png">Abusing Staff - Caution / 3 Week Ban <br><br>

        <img src="https://imgur.com/jrCagQ3.png">Abusing user's contantly (multple reports) -  Caution / 1 Week Ban <br><br>

        <img src="https://imgur.com/jrCagQ3.png">Racial slurs - Permanent IP Ban<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Making false accusations in an attempt to get a user banned - Caution / 1 Week Ban / Permanent IP Ban<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Releasing a user's IP Permanent or threatening to ddos them - Permanent IP Ban<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Harassing staff in-game, regarding your alternative account ban - Permanent IP Ban<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Staff slur - Caution / 1 Week Ban / Permanent IP Ban<br><br>

    </div>
</div>

<div class="box" style="top: 15px;position: relative;width: 960px;float: left;"><div class="title">Other</div>
    <div class="boxcontent" style="float:none;">
        <img style="float:left; padding: 45px 0px; padding-right: 63px;padding-left: 50px;" src="https://imgur.com/8jN2BOa.png">
        <img src="https://imgur.com/jrCagQ3.png">Protesting against decisions of Management -  Caution / Permanent IP Ban <br><br>

        <img src="https://imgur.com/jrCagQ3.png">Avoiding a ban - Permanent IP Ban<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Making multiple accounts for profit - Permanent IP Ban<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Attempting to exploit errors of <%= website.name %> Hotel - Permanent IP Ban<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Fraud - Permanent IP Ban<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Demanding staff -  Caution / Mute / 1 Week Ban<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Leaving a summon - Caution / Permanent User Ban<br><br>

        <img src="https://imgur.com/jrCagQ3.png">Using an AFK Booster for profit - Caution / 1 Day Ban / 1 Week Ban / Permanent IP Ban<br><br>
    </div>
</div>

<div class="box" style="top: 15px;position: relative;width: 960px;float: left;"><div class="title">Events</div>
    <div class="boxcontent" style="float:none;">
        <img style="float:left; padding: 15px 0px; padding-right: 40px;padding-left: 50px;" src="https://imgur.com/AKKP55H.png">
        <img src="https://imgur.com/jrCagQ3.png">Host 3 or more games per event announcement or host 3 times a day.<br><br>
        <img src="https://imgur.com/jrCagQ3.png">No Abusing Commands while hosting.<br><br>
        <img src="https://imgur.com/jrCagQ3.png">Make sure to host a variety of games, not just ones that you like.<br><br>
        <img src="https://imgur.com/jrCagQ3.png">If need to afk for more than 5 minutes, please go offline the client, as it gives users a bad impression.<br><br>
        <img src="https://imgur.com/jrCagQ3.png">Always be fair while hosting events.
    </div>
</div>

<div class="box" style="top: 15px;position: relative;width: 960px;float: left;"><div class="title">Staff</div>
    <div class="boxcontent" style="float:none;">
        <img style="float:left; padding: 15px 0px; padding-right: 77px;padding-left: 50px;" src="https://imgur.com/rhP5NVu.png">
        <img src="https://imgur.com/jrCagQ3.png">Must evaluate situations when you are answering a CFH before coming to a solution<br><br>
        <img src="https://imgur.com/jrCagQ3.png">No abusing major commands, such as :ha, :dc<br><br>
        <img src="https://imgur.com/jrCagQ3.png">Must be active for at least 2-4 hours a day, with the exceptions of family matters/work/emergencies/etc.<br><br>
        <img src="https://imgur.com/jrCagQ3.png">If need to afk for more than 5 minutes, please go offline the client, as it gives users a bad impression.<br><br>
        <img src="https://imgur.com/jrCagQ3.png">Always be fair while dealing with situations on the hotel.
    </div>
</div>

<% include ../../footer %>